body {
    font-family: 'Oswald', 'Roboto Condensed', sans-serif;
}
.container {

}
.navbar{
    border: 1px solid black;
}
ul, li {
    width: 1200px;
    display: inline;
    background-color: rgba(255, 255, 255, 0.9);
}