body {
    font-family: 'Oswald', 'Roboto Condensed', sans-serif;
    /* background: url(/images/Electromagnetic-waves_01-PS-640x425.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    z-index: 100; */
}
.navbar .navbar-collapse {
    text-align: center;
    overflow: auto;
}
.canvasgrey {
    width: 100%;
    height: 80vh;
    background: #907163;
}
.canvasred {
    width: 100%;
    height: 80vh;
    background: #a33327;
}
.cover {
    background: url(/images/cover2.png);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.overskrift {
   padding-top: 40vh;
   padding-left: 25vw;
   color: #fff;
   font-weight: 700;
}
.overskrift2 {
    padding-left: 25vw;
    color: #fff;
 }

@media screen and (min-width: 601px) {
    .overskrift {
      font-size: 60px;
    }   
  }

  @media screen and (max-width: 600px) {
    .overskrift {
   padding-left: 15vw;
      font-size: 30px;
    }
  }

  @media screen and (min-width: 601px) {
    .overskrift2 {
      font-size: 20px;
    }   
  }

  @media screen and (max-width: 600px) {
    .overskrift2 {
   padding-left: 15vw;
      font-size: 20px;
    }
  }